.activeButton:hover {
  background-color: rgb(189, 216, 127);
  cursor: pointer;
}

.activeButton,
.defaultButton:active {
  border: 1px solid grey;
  margin-bottom: 5px;
  background-color: rgb(2, 110, 51);
  color: white;
}

.defaultButton:hover {
  background-color: rgb(189, 216, 127);
  cursor: pointer;
}
.defaultButton,
.activeButton:active {
  border: 1px solid grey;
  margin-bottom: 5px;
  background-color: #fff;
}
