.wrapper{
    width:800px;
    margin: 30px auto;
}
.wrapperShadow{
    background-color: #fff;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 1px 2px 13px #00000040;
}

.titleParagraph {
    text-align: center;
    font-size: 24px;
    margin: 40px;
}

.shareFB {
    position: relative;
}

.inputEmail {
    outline: none;
    width: 350px;
    padding: 15px 20px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #00000040;
    display: block;
}

.inputEmail:focus {
    box-shadow: 1px 1px 9px #00000020;
}

.inputSubmit {
    position: absolute;
    right: calc(20% + 22px);   
    top: 0px;
    padding: 10px 25px;
    background: var(--macaroni-and-cheese);
    font-size: 24px;
    color: #fff;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.inputSubmit:hover {
    background-color: var(--squash);
}

.wrapper_facebook {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
/* Mob */
@media screen and (max-width: 768px) {
    .wrapper {
        width: 85%;
    }
    .inputSubmit {
        right: -8px;
    }
    .inputEmail {
        width: 90%;
    }
  }

  /* Mob */
@media screen and (max-width: 468px) {
    .wrapper{
        width: 88%;
        margin: 30px auto 0 auto;
    }
    .wrapperShadow{
      padding: 6px 0;
    }
    .inputSubmit {
        width: 23%;
        right: calc(5% + -7px);
        font-size: 19px;
        padding: 13px 20px;
     }
     .titleParagraph {
        font-size: 18px;
        margin-bottom: 10px 10px;
    }
    .inputEmail {
        width: 76%;
    } 
    .wrapper_facebook {
        margin: 20px 0;
    }
    
  }


