.wrapper {
    width: 100%;
    margin: 1rem auto;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    margin: 0 auto;
    box-shadow: 1px 2px 13px #00000040;
}

.titleParagraph {
    text-align: center;
    font-size: 1rem;
    margin: 1rem 0;
}

.shareFB {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputEmail {
    display: block;
    outline: none;
    width: 12rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid #00000040;
    display: block;
}

.inputSubmit {
    width: 3.5rem;
    display: block;
    background: var(--macaroni-and-cheese);
    font-size: 1rem;
    padding: 0.5rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;
}

.inputEmail:focus {
    box-shadow: 1px 1px 9px #00000020;
}

.inputSubmit:hover {
    background-color: var(--squash);
}

.wrapper_facebook {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.message {
    max-width: 750px;
    margin: 0.5rem auto;
    text-align: center;
    color: grey;
    font-feature-settings: "Ubuntu";
    font-weight: 400;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
    }

    .inputEmail {
        width: 12rem;
    } 

    .inputSubmit {
        width: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {
    
    .inputEmail {
        width: 12rem;
    } 

    .inputSubmit {
        width: 3.5rem;
    }
}