@import "../../theme/palette.modules.css";
/* @import '../../theme/breakpoints.modules.css'; */

/* @media (width <= 840px) {
  
      
  } */

.pageWrap {
  width: 100%;
  background-color: #f5f3f9;
  padding-top: 32px;
  padding-bottom: 150px;
}

.instructImage {
  background: linear-gradient(144deg, #6039aa, #000);
  width: 655px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.instructWrap {
  padding-top: 55px;
  width: 750px;
  height: 660px;
  background-color: #fcffff;
  margin: 0 auto;
  box-shadow: 1px 2px 13px #00000040;
}

.post {
  width: 520px;
  margin: 0 auto;
  margin-bottom: 80px;
}



.title {
  color: #333333;
  padding-top: 50px;
  text-align: center;
}

.wrapper_btn {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: block;
  /* width: 15rem; */
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  font-weight: 800;
  display: inline-block;
  background-color: var(--macaroni-and-cheese);
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--squash);
}
