:root {
    --blueberry: #6039aa;
    --orangey-yellow: #f5a623;
    --lightish-purple: #a44deb;
    --robin-s-egg: #75ffff;
    --charcoal-grey: #282932;
    --pale-grey: #fcffff;
    --black: #333333;
    --macaroni-and-cheese-32: #f3a82d51;
    --squash: #eca125;
    --squash-two: #eda328;
    --text-logo: #ffffff;
    --brown-grey: #999999;
    --macaroni-and-cheese: #f3a82d;
  }

