@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Ubuntu:300,300i,400,400i,500,500i,700,700i');

.wrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f9f7fd;
}

.testBlock {
    padding: 15px 20px 0;
    margin: 0;
    text-align: center;
}

.countBlock {
    width: 50px;
    margin: 0 auto;
    border-bottom: 2px solid #f3a82d;
    padding: 2px;
}

.countItem {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.52px;
    font-weight: 700;
    font-size: 13px;
    color: #999999;
}

.progress  {
    display: none !important;
}

.questionBlock {
    
}

.questionTitle {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #333333;
    padding: 15px 0 30px;
}

.answerBlock {

}

.answerButton {
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(44, 46, 51, 0.2);
    margin-bottom: 16px;
    padding: 20px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.1s all;
}

.answerButton:hover {
    background-color:#f5a523;
    color: #fff;
    transition: 0.1s all;
}

.answerVariantText {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5a623;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 22px;
    font-family: 'Ubuntu';
    color: #fff;
    font-weight: 700;
    box-shadow: 1px 2px 3px rgba(32, 32, 32, 0.2);
}

.activeAnswerVariantText {
    background-color: #fff;
    color: #f5a623;
}

.activeButton {
    background-color:#f5a623;
    color: #fff;
}
  

.buttonBlock {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.buttonNav {
    font-family: 'Ubuntu';
    font-size: 10px;
    font-weight: 700;
    padding: 10px 15px;
    text-transform: uppercase;
    color: #eca125;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #eca125;
    border-radius: 2px;
    cursor: pointer;
    line-height: 10px;
}

.buttonNav:hover {
    background-color: #eca125;
    color: #fff;
}

.buttonNavRight {
    position: relative;
    margin: 0 0 0 auto;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 33px 55px 0;
    }

    .testBlock {
        background-color: #fff;
        padding: 50px;
    }
    .progressBlock {
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 60%;
        margin: 0 auto;

    }
    .progress  {
        display: unset !important;
    }
    .symbolProgress {
        display: none !important; 
        position: absolute;
    }

    .countBlock {
        flex-basis: 20%;
        margin: 0 auto;
        border-bottom: none;
        padding: 2px;
    }

    .countItem {
       
    }

    .questionTitle {
        font-size: 24px;
    }

    .answerButton {
        padding: 33px 0 ;
        margin-bottom: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

    .answerVariantText {
        position: unset;
        transform: translate(0, 0);
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .buttonBlock {
        margin-top: 15px;
    }

    .buttonNav {
        padding: 15px 20px;
        font-size: 11px;
        line-height: 11px;
    }
}

@media screen and (min-width: 1024px) {
    .testBlock {
        max-width: 657px;
        margin: 0 auto;
        box-shadow: 2px 4px 9px rgba(23, 23, 87, 0.15);
    }

    .buttonNav {
        line-height: 18px;
    }

}
