@import "../../theme/palette.modules.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageWrap {
  position: relative;
  background: linear-gradient(144deg, #6039aa, #000);
  width: 100%;
  min-width: 320px;
  height: calc(100vh - 4rem);
  margin: 0 auto;
}

.canvasWrap {
  width: 100%;
  height: calc(100vh - 4rem);
}

.postWrap {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Ubuntu";
  margin-bottom: 2rem;
  font-weight: 500;
}

.post {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 0.9rem;
  font-family: "Ubuntu";
  line-height: 1.556;
}

.button_wrapper {
  text-decoration: none;
}

.button {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--macaroni-and-cheese);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-family: "Ubuntu";
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem;
}

.button:hover {
  background-color: var(--squash);
}

@media screen and (min-width: 768px) {
  .pageWrap {
    height: 105vh;
  }

  .postWrap {
    top: 40%;
  }

  .title {
    font-size: 1.5rem;
  }
 
  .post {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .pageWrap {
    height: 105vh;
  }

  .postWrap {
    width: 50%;
    top: 45%;
  }

  .title {
    font-size: 2rem;
  }
 
  .post {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
  }
}
