@import '../../theme/palette.modules.css';

.Header{
    background-color: var(--blueberry);
    padding: 20px 0;
}
.Wrapper{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.Login{
    color: var(--text-logo);
    font-size: 18px;
    font-weight: 800;
    display: flex;
}
.Logo{
    color: var(--text-logo);
    font-size: 24px;
    display: flex;  
    font-weight: 800;
}
.logoTag{
    font-size: 22px;
    font-weight: 800;
    color: var( --squash-two)
}
