.wrapper{
    width: 280px;
    margin: 30px auto;
}

@media (min-width: 768px) {
    .wrapper{
        width: 660px;
        margin: 30px auto;
    }
}

@media (min-width: 1024px) {
    .wrapper{
        width: 800px;
        margin: 30px auto;
    }
    
    .wrapperShadow{
        background-color: #fff;
        padding: 40px;
        margin: 0 auto;
        box-shadow: 1px 2px 13px #00000040;
    }
    .title{
        color: var(--text-logo);
        text-align: center;
        margin-bottom: 30px;
        padding: 60px 0;
        background: linear-gradient(120deg, #6039aa, #180733);
    }
}